<!-- Intro Content -->
<div class="row">
    <div class="col-lg-6">
      <img class="img-fluid rounded mb-4" src="assets/images/members/aboutMB.jpg" alt="About Modern Business">
    </div>
    <div class="col-lg-6">
      <h2>About Modern Business</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
    </div>
  </div>
  <!-- /.row -->
  
  <!-- Team Members -->
  <h2>Our Team</h2>
  
  <div class="row">
    <!--div class="col-lg-4 mb-4" *ngFor="let member of members">
      <mb-about-member [member]="member"></mb-about-member>
    </div-->
  </div>
  <!-- /.row -->
  
  <!-- Our Customers -->
  <h2>Our Customers</h2>
  <div class="row">
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="assets/images/customers/customer1.png" alt="customer1">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="assets/images/customers/customer2.jpg" alt="customer2">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="assets/images/customers/customer3.png" alt="customer3">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="assets/images/customers/customer4.png" alt="customer4">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="assets/images/customers/customer5.png" alt="customer5">
    </div>
    <div class="col-lg-2 col-sm-4 mb-4">
      <img class="img-fluid" src="assets/images/customers/customer6.png" alt="customer6">
    </div>
  </div>
  <!-- /.row -->
  